.view-task {
  .view-task-text-wrapper {
    margin-top: 50px;
    width: 60%;
  }

  .view-task-actions-wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    margin-top: 60px;

    div {
      display: flex;
      align-items: center;

      label {
        margin-left: 10px;
      }
    }
    .view-task-btns {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &#backBtn {
        background-color: #000;
      }
      &#editBtn {
        background-color: #005981;
      }
      &#deleteBtn {
        background-color: #f00;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .view-task {
    .view-task-text-wrapper {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 450px) {
  .view-task {
    .view-task-actions-wrapper {
      width: 100%;
    }
  }
}
