.todos {
  width: 100%;

  ul {
    list-style: none;
    overflow-y: auto;
    height: 385px;
  }

  .todo {
    width: 100%;
    height: 54px;
    border-radius: 9px;
    background: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .todo-left-wrapper {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
    overflow: hidden;

    input {
      margin-right: 7px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }

    input:checked + span {
      text-decoration: line-through;
    }
  }

  .todo-right-wrapper {
    width: 35%;
    display: flex;
    align-items: center;
    padding-right: 20px;
    justify-content: space-evenly;

    .button-blue {
      width: 46px;
      height: 25px;
      border-radius: 27px;
      color: #fff;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background: #005981;
    }

    .todo-delete {
      width: 34px;
      height: 34px;
      background-color: #d4a656;
      border-radius: 50%;
      border: none;
      outline: none;
      padding: 5px;
    }
  }
}

@media only screen and (max-width: 650px) {
  .todos {
    .todo-left-wrapper {
      width: 45%;
    }
    .todo-right-wrapper {
      width: 50%;
    }
  }
}
